<tr>
  <td><%= order.created_at %></td>
  <td><%= order.id %></td>
  <td>
    <% if order.orderer_type == Customer.name %>
      <%= link_to("#{order.orderer.first_name} #{order.orderer.last_name}", admin_customer_path(order.orderer)) %>
    <% elsif order.orderer_type == Distributor.name %>
      <%= link_to(order.orderer.company_name, admin_distributor_path(order.orderer)) %>
    <% end %>
  </td>
  <td><%= order.host %></td>
  <td>
    <% if order.shipment.present? %>
      <%= link_to(order.shipment.created_at, admin_shipment_path(order.shipment)) %>
    <% end %>
  </td>
  <td>
    <%= link_to icon_text('Detail', 'glyphicon glyphicon-info-sign'), admin_order_path(order), class: 'btn btn-sm btn-success' %>
    <%= link_to icon_text('Edit', 'glyphicon glyphicon-pencil'), edit_admin_order_path(order), class: 'btn btn-sm btn-primary' %>
  </td>
</tr>
