<%= stylesheet_link_tag "theme", media: "all" %>
<section class="index-module instagram-feed">
	<h2 class="index-section-title container"><i class="icon-instagram"></i> Instagram Feed <a target="new" href="https://instagram.com/hairillusionllc/" class="instagram-see-all" style="margin-right: 60px;">See All</a></h2>

	<div class="inner">
		<div id="instafeed">
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3UiYGqSphd/" target="_blank"><div class="overlay"></div><%= image_tag('insta1.jpg') %> </a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3UERAlyptY/" target="_blank"><div class="overlay"></div><%= image_tag('insta2.jpg') %> </a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3PixoESpiP/" target="_blank"><div class="overlay"></div><%= image_tag('insta3.jpg') %></a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3PiE7ZSpgs/" target="_blank"><div class="overlay"></div><%= image_tag('insta4.jpg') %></a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3NLXEIypp8/" target="_blank"><div class="overlay"></div><%= image_tag('insta5.jpg') %></a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3Mq_oVSpu-/" target="_blank"><div class="overlay"></div><%= image_tag('insta6.jpg') %></a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3KvIOOyph4/" target="_blank"><div class="overlay"></div><%= image_tag('insta7.jpg') %></a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3KnlFUyplI/" target="_blank"><div class="overlay"></div><%= image_tag('insta8.jpg') %></a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3KRA49yphK/" target="_blank"><div class="overlay"></div><%= image_tag('insta9.jpg') %></a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3HMbmtypp7/" target="_blank"><div class="overlay"></div><%= image_tag('insta10.jpg') %></a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/2_48ZpSpvc/" target="_blank"><div class="overlay"></div><%= image_tag('insta11.jpg') %></a>
			</div>
			<div class="picture-wrapper">
				<a href="https://instagram.com/p/3BqHrqSplM/" target="_blank"><div class="overlay"></div><%= image_tag('insta12.jpg') %></a>
			</div>
		</div>
	</div>
</section>
