


<!DOCTYPE html>
<html>
<head>
  <title>HAIR ILLUSION OFFICIAL WEBSITE.</title> 
  <%= stylesheet_link_tag "application", media: "all" %> 
  <%= stylesheet_link_tag "styles", media: "all" %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js'); 
fbq('init', '992721714140422');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=992721714140422&ev=PageView&noscript=1"/>
</noscript> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
 
 
      
    <div class="jumbotron hi-header">
	<div class="container">
		<div class="row">

			<div id="video">
				<div class="youtube-video">
					<iframe width="375" height="210" src="//www.youtube.com/embed/EUKG8WQIf9Y?rel=0&autoplay=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

		</div>
	</div>
</div> 
</body>
</html>
