<% if session[:cart_obj] && session[:cart_obj].size > 0 %>
<div class="contains">
	<div class="container">
		<h3 class="text-uppercase text-center">Checkout</h3>
		<div class="row">
			<button type="button" style="display: none" data-target-id="collapseAccount" data-collapsed="collapseAccount2" id="shipContinueButton" class="btn hi-btn btn-lg pull-left btn-continue">
				CONTINUE
			</button>

			<div class="panel-group hi-checkout col-sm-12" id="accordion" role="tablist" aria-multiselectable="true">
				<% unless @customer %>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingZero">
						<h4 class="panel-title"><a role="button" data-parent="#accordion" href="#collapseAccount1" aria-expanded="true" aria-controls="collapseAccount1"> Account <a class="btn btn-link pull-right edit" data-parent="#accordion" data-id="collapseAccount1" href="#collapseAccount1" aria-expanded="true" aria-controls="collapseAccount1">EDIT</a> </a></h4>
					</div>
					<div id="collapseAccount1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-6">
									<% if @customer %>
									Checkout as <%= @customer.name %>
									<% else %>
									<h5 class="title">CHECKOUT AS A GUEST OR REGISTER</h5>
									<input type="radio" id="as_guest" name="checkout_method" value="guest" checked>
									<label for="checkout_method">Checkout as Guest</label> &nbsp;
									<input type="radio" id="as_register" name="checkout_method" value="register">
									<label for="checkout_method">Register</label>
									<p style="height: 142px;"></p>
									<button type="button" class="btn hi-btn btn-lg pull-left btn-continue" onclick="onClickSignUpGuest(event,'<%= @customer.try(:id)%>')">
										CONTINUE
									</button>
									<% end %>
								</div>
								<button type="button" style="display: none" data-target-id="collapseAccount2" data-collapsed="collapseAccount1" class="btn hi-btn btn-lg pull-left btn-continue" id="continueButton">
									CONTINUE
								</button>

								<% if @iphone %>
								<div class="clearfix"></div>
								<%end%>
								<div class="col-sm-6">
									<h5 class="title">LOGIN</h5>
									<p>
										Already registered? Please log in below:
									</p>
									<form class="form-horizontal" action="/process_login" data-remote="true" method="post" id="loginForm">
										<div class="form-group">
											<label for="login_email">Email address</label>
											<input type="email" class="form-control" name="email" required="true">
											<input type="hidden" name="from" value="checkout">
										</div>

										<div class="form-group">
											<label for="login_password">Password</label>
											<input type="password" class="form-control" name="password" required="true">
										</div>

										<button type="submit" id="shipmentContinueButton" class="btn hi-btn btn-lg pull-left btn-continue" onclick="">
											CONTINUE
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%end%>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title"><a role="button" data-parent="#accordion" href="#collapseAccount2" aria-expanded="true" aria-controls="collapseAccount2"> Shipping preference <a class="btn btn-link pull-right edit" data-parent="#accordion" data-id="collapseAccount2" href="#collapseAccount2" aria-expanded="true" aria-controls="collapseAccount2">EDIT</a> </a></h4>
					</div>
					<div id="collapseAccount2" class="panel-collapse collapse <%= get_css %>" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<h4><b> Shipping Address</b></h4>
							<div class="col-md-6">
								<form action="get_shipping_carreirs" data-remote="true" method="post" id="shippingForm">
									<div class="row">
										<div class="col-sm-6">
											<label for="shipping_firstname">First name <i class="mandatoryLabel">*</i></label>
											<input type="text" oninvalid="onInvalidTxt(this)" id="shippingFirstName" onchange="checkValidation(this);updateShippingAddress()" required="true" class="form-control shipping_first_name" name="billing[shipping_firstname]" value="<%= @customer.try(:billing_first_name) %>">
										</div>
										<div class="col-sm-6">
											<label for="shipping_lastname">Last name <i class="mandatoryLabel">*</i></label>
											<input type="text" oninvalid="onInvalidTxt(this)" id="shippingLastname" onchange="checkValidation(this);updateShippingAddress()" class="form-control shipping_last_name" required="true" name="billing[shipping_lastname]" value="<%= @customer.try(:billing_last_name) %>">
										</div>
									</div>

									<label for="shipping_country_id">Country <i class="mandatoryLabel">*</i></label>
									<% selected_b_country = @customer.try(:country)? @customer.try(:country) : "US" %>
									<% selected_b_state = @customer.try(:state)? @customer.try(:state) : "AL" %>

									<%= country_select(:billing, :shipping_country, { :default => 'United States', selected: selected_b_country }, {:class=>"form-control", :onchange=>"onChangeShippingAddressCountry();updateShippingAddress()"}) %>
									
									<label for="shipping_address">State <i class="mandatoryLabel">*</i></label>
									<div id="shippingStateDiv">
										<%= render partial: 'shipping_state_combo', locals: {parent_region: selected_b_country, selected_value: selected_b_state } %>
									</div>

									<label for="shipping_address">Address <i class="mandatoryLabel">*</i></label>
									<input type="text" oninvalid="onInvalidTxt(this)" id="shippingAddress" onchange="checkValidation(this);updateShippingAddress()" class="form-control shipping_address1" name="billing[shipping_address]" required="true" value="<%= @customer.try(:billing_address1) %>">

									<label for="shipping_address_2">Apt/Suite</label>
									<input type="text" id="shippingAddress2" onchange="checkValidation(this);updateShippingAddress()" class="form-control shipping_address2" name="billing[shipping_address_2]" value="<%= @customer.try(:billing_address2) %>">

									<div class="row">
										<div class="col-sm-8">
											<label for="shipping_city">City <i class="mandatoryLabel">*</i></label>
											<input type="text" oninvalid="onInvalidTxt(this)" id="shippingCity" onchange="checkValidation(this);updateShippingAddress()" class="form-control shipping_city" name="billing[shipping_city]" required="true" id="shipping_city" value="<%= @customer.try(:billing_city) %>">
										</div>
										<div class="col-sm-6">
											<label for="shipping_zip">Zip <i class="mandatoryLabel">*</i></label>
											<input type="text" oninvalid="onInvalidTxt(this)" id="shippingZip" onchange="checkValidation(this);updateShippingAddress()" class="form-control shipping_zip" required="true" name="billing[shipping_zip]" value="<%= @customer.try(:billing_zip) %>">
										</div>
									</div>

									<div class="row">
										<div class="col-sm-6">
											<label for="shipping_phone">Phone <i class="mandatoryLabel">*</i></label>
											<input type="text" oninvalid="onInvalidTxt(this)" id="shippingPhone" onchange="checkValidation(this);updateShippingAddress()" class="form-control shipping_phone" required="true" name="billing[shipping_phone]" value="<%= @customer.try(:phone) %>">
										</div>
									</div> 
									<%= hidden_field_tag :shipment_car, '' %>
									<input type="submit" id="getShippingButton" onclick="checkIfFormValid(event)" value="Get available shipping carriers" class="btn hi-btn btn-lg" data-disabled-with="Please wait..."/>
								</form> 
							</div> 
							<div class="col-md-10">
								<div id="shippingPrefDiv"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOneTwo">
						<h4 class="panel-title"><a role="button" data-parent="#accordion" href="#collapseAccount" aria-expanded="true" aria-controls="collapseAccount"> Order Summary <a class="btn btn-link pull-right edit" data-parent="#accordion" data-id="collapseAccount" href="#collapseAccount" aria-expanded="true" aria-controls="collapseAccount">EDIT</a> </a></h4>
					</div>
					<div id="collapseAccount" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOneTwo">
						<div class="panel-body">
							<div id="checkoutTable">
								<%= render "checkout_table" %>
							</div>
							<%= hidden_field_tag :price_value, get_sub_total + get_shipping_price %>
							<button type="submit" style="border: none;padding:0px" onclick="PaymentCB(event,'paypal')" data-target-id="collapseAddress" data-collapsed="collapseAccount" class="btn hi-btn btn-lg pull-left btn-continue">
								<img src="/assets/pp.png" />
							</button>
							&nbsp;&nbsp;
							<button type="button" onclick="PaymentCB(event,'card')" data-target-id="collapseAddress" data-collapsed="collapseAccount" class="btn hi-btn btn-lg btn-continue">
								Checkout with CARD
							</button>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title"><a class="collapsed" role="button" data-parent="#accordion" href="#collapseAddress" aria-expanded="false" aria-controls="collapseAddress"> Address Information </a><a class="btn btn-link pull-right edit" data-parent="#accordion" data-id="collapseAddress" href="#collapseAddress" aria-expanded="true" aria-controls="collapseAddress">EDIT</a></h4>
					</div>
					<div id="collapseAddress" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-6">
									<form method="post" action="/create_order" data-remote="true" id="scheckoutForm">
										<%= hidden_field_tag :shipment_name, '' %>
										<button type="submit" style="border: none;padding:0px" class="paypalButton">
											<img src="/assets/pp.png" />
										</button>
										<h5 class="title">BILLING ADDRESS: <input type="checkbox" id="billing_shipping_address" onchange="onChangeShippingCB()">
										(Check if same as shipping address) </h5>

										<div class="row">
											<div class="col-sm-6">
												<label for="billing_firstname">First name <i class="mandatoryLabel">*</i></label>
												<input type="text" class="form-control" name="billing[firstname]" id="billing_firstname" required="true" value="<%= @customer.try(:first_name) %>">
											</div>
											<div class="col-sm-6">
												<label for="billing_lastname">Last name <i class="mandatoryLabel">*</i></label>
												<input type="text" class="form-control" name="billing[lastname]" id="billing_lastname" required="true" value="<%= @customer.try(:last_name) %>">
											</div>
										</div>

										<label for="billing_country_id">Country <i class="mandatoryLabel">*</i></label>
										<% selected_country = @customer.try(:country)? @customer.try(:country) : "US" %>
										<% selected_state = @customer.try(:state)? @customer.try(:state) : "AL" %>
										<%= country_select(:billing, :country, { :default => 'United States', selected: selected_country }, {:class=>"form-control", :onchange=>"onChangeAddressCountry('billing')"}) %>

										<label for="billing_address">Address <i class="mandatoryLabel">*</i></label>
										<%= hidden_field_tag :shipping_amount, get_shipping_price.to_f %>
										<input type="text" class="form-control" name="billing[address]" id="billing_address" required="true" value="<%= @customer.try(:address1) %>">

										<label for="billing_address_2">Apt/Suite</label>
										<input type="text" class="form-control" name="billing[address_2]" id="billing_address_2" value="<%= @customer.try(:address2) %>">

										<div class="row">
											<div class="col-sm-6">
												<label for="billing_city">City <i class="mandatoryLabel">*</i></label>
												<input type="text" class="form-control" name="billing[city]" id="billing_city" required="true" required="true" value="<%= @customer.try(:city) %>">
											</div>
											<div class="col-sm-6">
												<label for="billing_state">State <i class="mandatoryLabel">*</i></label>
												<input type="hidden" name="same_shipping" value="0" id="same_shipping_address">
												<div id="billing_state_td">
													<%= render partial: 'billing_state', locals: {parent_region: selected_country, selected_value: selected_state} %>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-6">
												<label for="billing_zip">Zip <i class="mandatoryLabel">*</i></label>
												<input type="text" class="form-control" name="billing[zip]" id="billing_zip" required="true" value="<%= @customer.try(:zip) %>">
												<%= hidden_field_tag :payment_method, 'card' %>
											</div>
											<div class="col-sm-6">
												<label for="billing_phone">Phone <i class="mandatoryLabel">*</i></label>
												<input type="text" class="form-control" name="billing[phone]" id="billing_phone" required="true" value="<%= @customer.try(:phone) %>">
											</div>
										</div>
										<label for="billing_email">Email <i class="mandatoryLabel">*</i></label>
										<input onchange="onChangeEmailField()" type="email" class="form-control" name="billing[email]" id="billing_email" required="true" value="<%= @customer.try(:email) %>">

										<br />
								</div>
 
							</div>

							<div class="row">
								<div class="col-sm-8">
									<div id="cardDiv">
										<h4 class="title" style="font-weight: bold;font-size: 24px;">Payment Details</h4>
										<br />
										<div id="cc" style="padding-right: 15px;display: inline">
											<%= image_tag 'visa.png', :style=>"width: 37px;"%>
											<%= image_tag 'mastercard.png', :style=>"width: 37px;"%>
											<%= image_tag 'amex.png', :style=>"width: 37px;display:none;"%>
											<%= image_tag 'discover.png', :style=>"width: 37px;"%>
										</div>
										<br />
										<br />
										<label >Name on Card <i class="mandatoryLabel">*</i></label>
										<input type="text" class="form-control" name="card_holder_name" id="card_holder_name" required="true">

										<label >Card Number <i class="mandatoryLabel">*</i></label>
										<input type="number" class="form-control" name="card_number" id="card_number" required="true">

										<div class="row">
											<div class="col-sm-4">
												<label >Expiration Month *</label>
												<select id="CardExpirationMonth" name="CardExpirationMonth" class="form-control" required="true">
													<option value="01">01 - Jan</option>
													<option value="02">02 - Feb</option>
													<option value="03">03 - Mar</option>
													<option value="04">04 - Apr</option>
													<option value="05">05 - May</option>
													<option value="06">06 - Jun</option>
													<option value="07">07 - Jul</option>
													<option value="08">08 - Aug</option>
													<option value="09">09 - Sep</option>
													<option value="10">10 - Oct</option>
													<option value="11">11 - Nov</option>
													<option value="12">12 - Dec</option>
												</select>
											</div>
											<div class="col-sm-4">
												<label for="billing_firstname">Expiration Year *</label>
												<select id="CardExpirationYear" class="form-control" name="CardExpirationYear" required="true">
													<option>2016</option><option>2017</option><option>2018</option><option>2019</option><option>2020</option><option>2021</option><option>2022</option><option>2023</option><option>2024</option><option>2025</option>
												</select>
											</div>
											<div class="col-sm-2">
												<label>Card CVV *</label>
												<input type="number" class="form-control" name="card_cvv" id="card_cvv" style="max-width: 120px" required="true">
											</div>
										</div>

									</div>
								</div>

							</div>

							<button type="submit" class="btn hi-btn btn-lg" id="formSubButton">
								Complete Order
							</button>
							
							<%= hidden_field_tag :first_name_field, '', :id=>"firstNameField" %>
							<%= hidden_field_tag :last_name_field, '', :id=>"lastNameField" %>
							<%= hidden_field_tag :country_field, '', :id=>"countryField" %>
							<%= hidden_field_tag :state_field, '', :id=>"stateField" %>
							<%= hidden_field_tag :address1_field, '', :id=>"address1Field" %>
							<%= hidden_field_tag :address2_field, '', :id=>"address2Field" %>
							<%= hidden_field_tag :city_field, '', :id=>"cityField" %> 
							<%= hidden_field_tag :zip_field, '', :id=>"zipField" %>
							<%= hidden_field_tag :phone_field, '', :id=>"phoneField" %>
							<%= hidden_field_tag :email_field, '', :id=>"emailField" %>
							
							
							<button type="submit" style="border: none;padding:0px" class="paypalButton">
								<img src="/assets/pp.png" />
							</button>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%end%>
<script>
	$(document).ready(function() {
			 


		$('form#scheckoutForm').submit(function() {
			$('#formSubButton').text("Processing...")
			$('#formSubButton').prop('disabled', true);
		});

		$('.btn-continue').click(function() {
			$('#' + $(this).data('collapsed')).collapse('hide');
			$('#' + $(this).data('collapsed')).parent().addClass('done');
			$('#' + $(this).data('target-id')).collapse('show');
		});

		$('.hi-checkout .edit').click(function() {
			$('.collapse.in').collapse('hide');
			$('#' + $(this).data('id')).collapse('show');
		});
	}); 
</script>
