 <%= render "shared/subscribe" %>
 
   <div class="jumbotron hi-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 text-center"> 
            <img src="/assets/product-1.png">
          </div>
          <div class="col-sm-9 text-center">
            <h1>THE <strong>BEST</strong> HAIRLOSS <strong>SOLUTION</strong></h1>
            <h3>
              <strong style="letter-spacing: 6px;">NOTHING LOOKS MORE NATURAL, PERIOD.</strong><br />
              <span class="hi-highlight">We use 1 ingredient 100% natural human hair.</span>
            </h3>
            <p>Balding is Despressing. There's no two ways about it.<br />
            Hair Illusion can't stop you from balding,<br />
            but it can conceal thin or bald hair naturally</p> 
            
            <div class="col-sm-12">
            	<div class="col-sm-6">
            		<a class="btn btn-primary btn-buy-now" href="/products" role="button">BUY NOW</a>
            	</div>
            	<div class="col-sm-6">
            		<a href="/patent" target="_blank">
		    			<img src="/assets/patent.jpg" alt="pending"/>  
					</a> 
					<div class="clearfix"></div>
					<br />
					<div style="width: 100%;text-align: center">
						<a href="/patent" style="font-weight: bold" target="_blank">MORE INFO</a>
					</div>
            	</div>
            </div> 

          </div> 
            
            
          </div> 
        </div>
      </div>
    </div>

	<div class="jumbotron hi-header" style="padding-top: 0px">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-right">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/WhjjE1pf0cA" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-sm-6 text-right"> 
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/s60RC5fdtyc" frameborder="0" allowfullscreen></iframe>
          </div> 
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row row-inverted">
        <div class="col-sm-5 text-right">
          <img src="/assets/ceo-quote.png" style="width:80%">
        </div>
        <div class="col-sm-6 text-center">
          <h3 style="margin-bottom:30px">
            <em>"I stand by my product 100%. If I didn't, I <br /> wouldn't use it on my own head"</em>
          </h3>
          <p>
              <em>I was voted "best hair" in junior high school. For me, this is<br />
              emotional and something I never expected</em>
          </p>
          <p>
              <em>My name is Ronnie and I'm the founder of Hair Illusion<sup>TM</sup>. I founded<br />
              the company largely as a result of my own battle with hair loss. While <br />
              perfection is quite hard to achieve, it's certianly something I strive <br />
              for everyday in my apperance.</em>
          </p>
          <p>
            <em>As I have gotten older and started losing more and more of my hair, I<br />
            have looked for any solution available and tried all products that I <br />have come across</em>
          </p>
          <a href="/more_reviews" class="link">FIND OUT MORE ></a>
        </div>
      </div>
    </div>

    <div class="contains">
      <div class="container">
        <h3 class="text-uppercase text-center hi-highlight">100% Natural. Easy to apply. durable</h3>
       
      </div>
      
      
      <div id="hi-testimonial-carousel" class="carousel slide text-center" data-ride="carousel">
           
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                      <div class="col-sm-12">
                         <div class="text-center">
				          <p>
				          <img src="/assets/slide5.jpg" class="img-thumbnail">
				          </p>
				          <a href="/photos" class="link black">VIEW MORE ></a>
				        </div>

                      </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                      <div class="col-sm-12">
                         <div class="text-center">
				          <p>
				          <img src="/assets/slide6.jpg" class="img-thumbnail">
				          </p>
				          <a href="/photos" class="link black">VIEW MORE ></a>
				        </div>

                      </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="text-center">
				          <p>
				          <img src="/assets/effect-03.png" class="img-thumbnail">&nbsp;&nbsp;
				          <img src="/assets/effect-01.png" class="img-thumbnail">&nbsp;&nbsp;
				          <img src="/assets/effect-02.png" class="img-thumbnail">
				          </p>
				          <a href="/photos" class="link black">VIEW MORE ></a>
				        </div>
				       </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#hi-testimonial-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
            <a class="right carousel-control" href="#hi-testimonial-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </div> 
    </div>

    <div class="contains grey">
      <div class="container text-center">
        <h3 class="text-uppercase text-center title">BEST SELLERs</h3>
        <div class="row">  
          
          <div class="col-sm-4">
            <div class="thumbnail product-thumb">
            	<div class="price-ribbon"><%= get_percentage(44.95, @price) %>% OFF</div>
            	<br />
            	<br />
              <img src="/assets/product-2.png">
              <br />
              <br />
              <div class="caption2" style="height: 240px;">
                <p class="title" style="color: #000;font-size: 14px;font-weight: bold">Hair Illusion 38g</p>
				<h5 class="price" style="height: 21px"><label class="value">Regularly: $44.95</label></h5> 
				<h5 class="price" style="height: 21px"><label class="value">Today: $<%= @price %></label></h5>  
                <form method="POST" class="thumb-footer" action="/add_cart" id="form_index_large"> 
                	<input type="hidden" name="product_type" value="large">
                   <select class="form-control" name="color" id="index_large">
                    <option>Select a color</option>
                    <option>Jet Black</option>
                    <option>Black</option>
                    <option>Dark Brown</option>
                    <option>Brown</option>
                    <option>Light Brown</option>
                    <option>Auburn</option>
                    <option>Blonde</option>
                    <option>Light Blonde</option>
                  </select>
                  
                  <br />
                  <div class="row">  
								<div class="col-sm-12 text-center"> 
									<div class="col-sm-5">
										 Qty: 
									</div>
									<div class="col-sm-7"> 
										<select class="form-control" name="quantity" id="big_qty"> 
											<option>0</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option> 
										</select>  
									</div>  
							</div> 
						</div>  
							
                  <button type="submit" class="btn btn-addtocart form-control" role="button" id="smallButtonCart" onclick="onClickAddToCart('index_large',event, document.getElementById('big_qty').value)">
							Add to cart
						</button>
                </form>
              </div>
            </div>
          </div>
           
          <div class="col-sm-4">
            <div class="thumbnail product-thumb">
            	<div class="price-ribbon"><%= get_percentage(59.95, @applicator_price) %>% OFF</div>
            	<br />
            	<br />
            	<br />
              <img src="/assets/applicator.jpg"> 
              <br />
              <div class="caption2" style="height: 231px">
                <p class="title" style="color: #000;font-size: 14px;font-weight: bold">Spray Applicator with 3g fiber</p> 
				<h5 class="price" style="height: 21px"><label class="value">Regularly: $44.95</label></h5> 
				<h5 class="price" style="height: 11px"><label class="value">Today: $<%= @applicator_price %></label></h5>                  
                <form method="POST" class="thumb-footer" action="/add_cart" id="form_index_small"> 
                	<input type="hidden" name="product_type" value="Spray Applicator"> 
                  <br />
                  <div class="row">  
								<div class="col-sm-12 text-center"> 
									<div class="col-sm-5">
										 Qty: 
									</div>
									<div class="col-sm-7"> 
										<select class="form-control" name="quantity" id="applicator_qty"> 
											<option>0</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option> 
										</select>  
									</div>  
							</div> 
						</div> 
							<br />
				 		<button type="submit" class="btn btn-addtocart form-control" role="button" onclick="onClickAddToCart('applicator',event,document.getElementById('applicator_qty').value)">
							Add to cart
						</button>
						
                </form>
              </div>
            </div>
          </div>

          
          <div class="col-sm-4">
				<div class="thumbnail product-thumb">
					<div class="price-ribbon"><%= get_percentage(120.90, @price_saf) %>% OFF</div>
					<div style="height: 213px"> 
						<img src="/assets/applicator_combo.jpg" class="img-responsive center-block">
					</div>

					<div class="caption">
						<h5 class="title">Spray, 38g Fiber,Applicator</h5>   
						<h5 class="price" style="height: 21px"><label class="value">Regularly: $120.90</label></h5> 
						<h5 class="price" style="height: 21px"><label class="value">Today: $<%= @price_saf %></label></h5>  
					</div>
					<form method="POST" class="thumb-footer" action="/add_cart" id="saf_col_dp_form">
						<input type="hidden" value="saf" name="product_type"/>
						<div class="row">
							<div class="col-sm-9">
								<label class="color">Color:</label> 
								<select class="form-control" id="saf_col_dp" name="color">
									<option>Select a color</option>
									<option>Jet Black</option>
									<option>Black</option>
									<option>Dark Brown</option>
									<option>Brown</option>
									<option>Light Brown</option>
									<option>Auburn</option>
									<option>Blonde</option>
									<option>Light Blonde</option>
								</select>
							</div>
							<div class="col-sm-3 quantity" >
								<label>Qty:</label>
								<select class="form-control" name="quantity" id="saf_qty"> 
									<option>0</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option> 
								</select>  
							</div>
						</div>
						<button type="submit" class="btn btn-addtocart form-control" role="button" id="smallButtonCart" onclick="onClickAddToCart('saf_col_dp',event, document.getElementById('saf_qty').value)">
							Add to cart
						</button>
					</form>
				</div>
			</div>
			
			
			
			
			
			
        </div>
        <a href="/products" class="btn hi-btn black">VIEW All products ></a>
      </div>
    </div>


    <div class="container text-center row-inverted">
      <h3 class="text-uppercase text-center title">testimonials</h3>

      <div class="container">
        <div id="hi-testimonial-carousel" class="carousel slide" data-ride="carousel">
           
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                      <div class="col-sm-12">
                        <img src="/assets/testimonials-1.png">
                        <p class="text-grey" style="margin-top:30px;"><em>"I am so happy I decided to try hair illusion. I was self conscious about my<br /> hair thinning over the last couple of years. Hair illusion has helped me feel confident..."</em><br/><br/> - Janet</p>
                      </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                      <div class="col-sm-12">
                        <img src="/assets/testimonials-1.png">
                        <p class="text-grey" style="margin-top:30px;"><em>"I am so happy I decided to try hair illusion. I was self conscious about my<br /> hair thinning over the last couple of years. Hair illusion has helped me feel confident..."</em><br/><br/> - Janet</p>
                      </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#hi-testimonial-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
            <a class="right carousel-control" href="#hi-testimonial-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </div>
        <a href="/more_reviews" class="link white">VIEW All testimonials ></a>
      </div>
      
    </div>

    <div class="contains">
      <div class="container">
        <h3 class="text-uppercase text-center">Instagram feed</h3>
        <div class="text-center" >
          <p>
          	 <a href="http://instagram.com/hairillusionllc?ref=badge">
          		<img src="/assets/insta-images.png" class="img-thumbnail">
            </a>
          </p> 
        </div>
      </div>
    </div>
    

<script type="text/javascript">
$(document).ready(function(){ 
	<% if session[:clicked] == false %> 
		$("#myModal").modal('show'); 
	<% end %>
});
</script>
