<h4>Domain distributors</h4>

<table class="table table-striped table-bordered table-hover table-condensed grid-table" data-url="<%= admin_domain_distributors_path %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Percentage</th>
      <th>Domain</th>
      <th>Address</th> 
      <th>Country</th>
      <th>Zip</th>
      <th></th>
      <th></th> 
    </tr>
  </thead>

  <tbody>
    <% @domain_distributors.each do |admin_domain_distributor| %>
      <tr>
        <td><%= admin_domain_distributor.name %></td>
        <td><%= admin_domain_distributor.company_name %></td>
        <td><%= admin_domain_distributor.email %></td>
        <td><%= admin_domain_distributor.percentage %></td>
        <td><%= admin_domain_distributor.domain %></td>
        <td><%= admin_domain_distributor.address %></td> 
        <td><%= admin_domain_distributor.country %></td>
        <td><%= admin_domain_distributor.zip %></td>
        <td><%= link_to 'Details', "/admin/domain_distributors/#{admin_domain_distributor.id}" %></td>
        <td><%= link_to 'Edit', edit_admin_domain_distributor_path(admin_domain_distributor) %></td> 
      </tr>
    <% end %>
  </tbody> 
</table> 
<%= link_to 'New Distributor', new_admin_domain_distributor_path, :class=>"btn btn-primary" %>
<br />
<div class="pagination-center">
	<%= will_paginate @domain_distributors  %>
</div>



