<h4 style="text-align: center">PHOTOS</h4>

<h3 style="text-align: center">HAIR ILLUSION BEFORE AND AFTER PHOTOS</h3>

<br />
<div class="row">
	<div class="col-md-12">
		<div class="col-md-2">
			<%= image_tag 'new_35.JPG', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_36.JPG', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_37.PNG', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_1.png', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_2.png', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_3.png', :style=>"width:100%"  %>
		</div> 
	</div> 
</div>
 
<br />

<div class="row">
	<div class="col-md-12">
		<div class="col-md-2">
			<%= image_tag 'new_4.jpg', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_5.jpg', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_6.jpg', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_8.jpeg', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_9.jpeg', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_10.jpeg', :style=>"width:100%"  %>
		</div> 
	</div> 
</div> 
<br />

<div class="row">
	<div class="col-md-12">
		<div class="col-md-2">
			<%= image_tag 'new_11.jpeg', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_12.jpeg', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_13.jpeg', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_14.jpeg', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_15.jpeg', :style=>"width:100%"  %>
		</div> 
		<div class="col-md-2">
			<%= image_tag 'new_16.jpeg', :style=>"width:100%"  %>
		</div> 
	</div> 
</div>    

<br /> 

<div class="col-md-12" style="text-align:center;padding: 15px">
	<%= link_to "View More Photos" , photos_path, :class=>"btn btn-danger", :style=>";font-size: 30px"%>
</div>